.gameover_name_input{
    float:left;
    width: 380px;
    height: 100px;
    font-size: 48px;
    outline: none;
    text-align: center;
    margin-left:295px;
    margin-top:50px;
    margin-bottom: 50px;
}
.GameOver_Score_Show{
    font-size: 48px;
    color:white;
}
.loading_text{
    float:left;
    width: 380px;
    height: 100px;
    font-size: 48px;
    text-align: center;
    margin-left:295px;
    margin-top:50px;
    margin-bottom: 50px;
    color: white;
    display: none;
}